In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [ ]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = ''

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [3]:
def insert_link_to_the_wiki_webpage(link):
    '''This function points to the webpage where the data is found
    :param: the link to the webpage'''
    global url
    url = link

In [4]:
insert_link_to_the_wiki_webpage(link)

In [5]:
def fetch_tabular_data():
    '''This function gets all the tabular data from the wikipedia link with the class name wikitable sortable'''
    global tables
    souce = urllib.request.urlopen(url).read()
    soup = bs.BeautifulSoup(souce, 'lxml')
    tables = soup.find_all('table', class_='wikitable sortable')

In [6]:
fetch_tabular_data()

In [7]:
len(tables)

4

In [8]:
def make_dataframe_of_tabular_data():
    '''This function converts the different fetched table into  pandas dataframes'''
    global df1, df2, df3, df4
    df1 = pd.read_html(str(tables[0]))[0]
    df2 = pd.read_html(str(tables[1]))[0]
    df3 = pd.read_html(str(tables[2]))[0]
    df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [9]:
make_dataframe_of_tabular_data()

In [10]:
def combine_dataframes():
    '''This function combines all the dataframes into one'''
    global data 
    data = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [11]:
combine_dataframes()

C:\Users\alpho\AppData\Local\Temp\ipykernel_10220\3337306799.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [12]:
data

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,J A N U A R Y,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,J A N U A R Y,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,J A N U A R Y,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,J A N U A R Y,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,J A N U A R Y,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
270,D E C E M B E R,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,NaN,[241]
271,D E C E M B E R,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[242]
272,D E C E M B E R,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[243]
273,D E C E M B E R,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[244]
274,D E C E M B E R,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[245]

In [19]:
data.columns

Index(['Title', 'Cast and crew'], dtype='object')

In [20]:
def saving_data_to_disk():
    '''This function saves the scrapped data to dara/01_raw directory'''

    path = 'D:/github-repos/web-crawler/data/01_raw/wiki_data.csv'
    data.to_csv(path, index=False)

In [ ]:
saving_data_to_disk()